<html>
    <head>
        <meta charset="utf-8">
        <title>doit.</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">    
        <script src="/send_url.js"></script>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <ul class="nav-items">
                    <li class="logo">
                        <a href="/">
                            <img src="/images/Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="new-content">
            <div class="new-container">
                <div class="new-items">
                    <p class="new-title">Add Task</p>
                    
                    <div class="form-container">
                        <form class="new-form" action="/create" method="post">
                            <label>Task</label>
                            <input class="form-input" type="text" value="Do Shopping With Mom" name="name">
                            <label>Date</label>
                            <input class="form-input" type="date" value="11/11/2020" name="date">
                            <div class="button-right">
                                <a class="form-button-primary" href="/index">Cancel</a>
                                <input type="submit" class="form-button-secondary" value="Save">
                            </div>
                            
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>