<html>
    <head>
        <meta charset="utf-8">
        <title>doit.</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">    
        <script src="/send_url.js"></script>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <ul class="nav-items">
                    <li class="logo">
                        <a href="/">
                            <img src="/images/Logo.png">
                        </a>
                    </li>

                    <li>
                        <a href="/index" class="nav-button">View your list</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="home-content">
            <div class="home-container">
                <div class="home-text">
                    <h1 class="home-title">Create And Manage</h1>
                    <h1 class="home-title">Your Task Easily</h1>
                    <svg class="rect-marg" width="400" height="50">
                        <rect rx="2" ry="2" width="386" height="15" style="fill:#B5838D" />
                      </svg>
                    <p class="home-subtitle">Add, update and delete tasks whenever and wherever you want.</p>
                    <a href="/index" class="home-button">View your list</a>
                </div>

                <div class="home-image">
                    <img src="/images/list.png">
                </div>

            </div>
        </div>

    </body>
</html> 